ujson==1.35
requests==2.22.0
numpy
scipy
scikit-learn
pandas
pandas-gbq
matplotlib
opencv-python
h5py
yagmail
keyring==8.7
tqdm
gensim
json-logging-py==0.2
imageio~=2.3.0
flask
google-cloud-storage~=1.14
tabulate~=0.8.2
nltk
spacy
PyYAML~=3.13.0
Pillow~=5.2.0
jupyter
tf_sentencepiece
sentencepiece
six~=1.14.0
attrs~=18.2.0
tensorflow==2.9.3
pytest
metayaml
